/* Map Section */
.map-section {
    width: 70%;
    padding: 20px;
    border-radius: 16px;
    margin-right: 20px;
    box-shadow: 0px 4px 10px #000000;
    background-color: #191c24;
    height: 1160px;
  }
  
  .map-section h4 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  /* Map Styling */
  #map {
    width: 70%;
    height: 600px;
    border-radius: 16px;
    box-shadow: 0px 4px 10px #000000;
  }
  
  .charts-section h4 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  /* Canvas Styling */
  canvas {
    background-color: #000000;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0px 4px 10px #000000;
  }
  
  .chart-box {
    padding: 20px;
    background-color: #191c24;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
  }
  
  .chart-box p {
    max-width: 900px;
    margin: 0 auto;
    word-wrap: break-word;
    word-break: break-word;
  }
  
    /* Main Content Area */
  main {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      min-height: 100vh;
      box-sizing: border-box;
    }

    /* Statistics Section Styling */
.statistics-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.statistics-row {
  display: flex;
  flex-wrap: wrap;
  gap: 100px; /* Reduce gap for better spacing */
  justify-content: center;
}

/* Default width with sidebar open */
.statistic-card {
  background-color: #191c24;
  color: #fff;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  transition: background-color 0.3s ease, max-width 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}