/* Layer Switcher (For Map Controls) */
.leaflet-control-layers {
  background: transparent;
  color: #191c24;
  font-family: 'Verdana', 'Poppins', sans-serif;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px;
  }
  
  .leaflet-control-layers-toggle {
  width: 36px;
  height: 36px;
  background: transparent;
  border: 2px solid #333;
  border-radius: 4px;
  }
  
  .leaflet-control-layers-expanded {
  max-height: 150px;
  overflow-y: auto;
  }
  
  .leaflet-control-layers-base,
  .leaflet-control-layers-overlays {
  text-align: left;
  }
  
  /* Home Button on Map */
  .back-to-home {
  cursor: pointer;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  }
  
  .leaflet-touch .back-to-home {
  width: 34px;
  height: 34px;
  }
  
/* Basic styling for the scale control */
.leaflet-control-scale {
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  padding: 5px;
  background-color: #fff;
  }
  
  /* Style the scale text */
  .leaflet-control-scale .leaflet-control-scale-line,
  .leaflet-control-scale .leaflet-control-scale-units {
  color: #000;
  }
  
  /* Adjust position if needed */
  .leaflet-control-scale {
  position: absolute;
  bottom: 10px;
  left: 10px;
  }
  
  *,
  :after,
  :before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
  .leaflet-marker-icon {
  color: #fff;
  border-radius: 100%;
  /* border: 3px solid #fff; */
  padding: 0px;
  background: #ff0000;
  }
  
  .animation {
  background: #000;
  animation: border-pulse 1.5s infinite;
  }
  