/* :root */
@import url('colors.css');

.statistic-card:hover {
    background-color: var(--darker-background);
}

/* Statistic card when sidebar is closed */
.sidebar.closed ~ .main-content .statistic-card {
    max-width: 350px;
    gap: 50px;
}

.statistic-icon {
    font-size: 3rem;
    color: var(--accent-red);
}

.statistic-text {
    margin-left: 15px;
}

.statistic-label {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--text-color-secondary);
}

.statistic-value {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
