#sidebar {
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 10rem;
  border-radius: 0 28px 28px 0;
}

#sidebar.closed {
  width: 4rem;
}

#sidebar .text-only {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#sidebar.closed .text-only {
  opacity: 0;
  transform: translateX(-100%);
}

#sidebar .icon-only {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.flex-1 {
  transition: margin-left 0.5s ease-in-out;
}

.main-open {
  margin-left: 9rem;
}

.main-closed {
  margin-left: 3rem;
}

.bottom-left-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}