body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

h1, h3 {
    margin: 0;
    padding: 10px;
}

p {
    color: #666;
}

.back-to-home {
    cursor: pointer;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  }
  
  .leaflet-touch .back-to-home {
    width: 34px;
    height: 34px;
  }
  
  .hidden {
    display: none;
  }
  